:root {
  --text-color: white;
  --header-color: #402d2d;
  --background-color: linear-gradient(to right, #f2a65a, #a38560);
}
.navbar-brand {
  font-family: "Explora", cursive;
  color: #4e3918 !important;
  font-size: 48px !important;
  padding-left: 0 !important;
  font-weight: bold;
}
body {
  background: var(--background-color);
}

img {
  size: 10px !important;
}

h1 {
  color: var(--text-color);
  font-family: "Instrument Serif", serif;
  font-size: 30px !important;
}
h4 {
  color: white;
  font-family: "Instrument Serif", serif;
  font-size: 28px !important;
}
.weather-border {
  padding: 10px;
  background: #b18c55;
}
.ml5 {
  color: var(--text-color);
  font-family: "Instrument Serif", serif;
  font-size: 30px !important;
}
.ml7 {
  font-size: 30px !important;
  padding: 0;
  margin: 0;
}
span {
  font-weight: bold;
}
h2 {
  font-family: "Instrument Serif", serif;
  font-weight: bold !important;
  font-size: 38px !important;
  color: #402a23;
  text-align: center;
  text-decoration: underline;
}

.heading {
  font-family: "Instrument Serif", serif;
  font-weight: bold !important;
  font-size: 22px !important;
  color: var(--header-color);
  text-align: center;
  text-decoration: underline #402a23;
}

.navigation-links {
  display: flex;
  justify-content: space-evenly;
  font-family: "Instrument Serif", serif;
}
.primary-link,
.secondary-link,
.tertiary-link,
.primary-link-2,
.secondary-link-2,
.tertiary-link-2 {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: #94784c;
  box-shadow: black solid;
  color: white;
}

.piyotero-app,
.kitty-app {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: #94784c;
  box-shadow: black solid;
  color: var(--text-color);
}
.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}
.piyo {
  color: var(--text-color);
  font-family: "Instrument Serif", serif;
  font-size: 28px !important;
}
.heading-2 {
  font-family: "Instrument Serif", serif;
  font-weight: bold !important;
  font-size: 22px !important;
  color: var(--header-color);
  text-align: center;
  text-decoration: underline #402a23;
}
.navigation-links :hover,
.shecodes:hover {
  color: black;
}

.about-1 {
  color: #402a23;
  font-weight: bold;
  font-family: "Instrument Serif", serif;
  font-size: 36px !important;
  text-decoration: underline #402d2d;
  text-align: center;
}
.about-2 {
  color: #402a23;
  font-weight: bold !important;
  font-family: "Instrument Serif", serif 1;
  font-size: 24px !important;
  text-decoration: underline #402d2d;
}
.about-3 {
  color: var(--text-color);
  font-family: "Instrument Serif", serif !important;
  font-size: 28px;
}
.img-fluid {
  border-radius: 50% !important;
  width: 400px !important;
}
.shecodes {
  color: #755e39;
  font-weight: bold;
  font-size: 18px;
}
.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 4em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
.contact-3 {
  font-family: "Instrument Serif", serif;
  font-size: 28px;
  color: #4e3918;
  font-weight: bold;
}
.name-link {
  color: white;
}
.resume-1 {
  text-align: center;
}
.nav-item {
  font-weight: bold !important;
  display: flex;
  justify-content: center !important;
  font-family: "Instrument Serif", serif;
}
.nav-link {
  color: #9c7433 !important;
}
.nav-link:hover {
  color: #402a23 !important;
}
.afrotechimage {
  transform: translate(0px);
  animation: float 3s ease-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #402a23 !important;
  position: relative;
  margin: 30px;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 15px;
}
.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  color: white;
  position: absolute;
  background: #4e3918;
  background-color: rgba(78, 57, 24, 0.8);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
}
.card:hover .card-body {
  right: 0;
}
.card-title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  font-family: "Instrument Serif", serif;
}
.card-sub-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  font-family: "Instrument Serif", serif;
}
.card-info {
  font-size: 24px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
  font-family: "Instrument Serif", serif;
}
.card-btn {
  color: white !important;
  background: #423115;
  width: 120px;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  font-family: "Instrument Serif", serif;
}
.card-btn:hover {
  background: #b18c55 !important;
}
.btn-link {
  color: black !important;
  font-weight: 600 !important;
  text-decoration: none !important;
}
.kitttylinkmeow {
  font-size: 18px;
  color: rgb(236, 111, 132);
}
.skills {
  display: flex;
  justify-content: space-evenly;
  width: 200;
  padding: 10px;
  background: #94784c;
  border-radius: 8px;
}
.skillsh2 {
  font-family: "Instrument Serif", serif;
  font-weight: bold !important;
  font-size: 30px !important;
  color: #402a23;
  text-align: center;
  text-decoration: underline;
  padding: 14px !important;
}
.final {
  background: white;
  padding: 30px;
  text-align: center;
}
.finalname {
  font-family: "Explora", cursive;
  color: brown !important;
  font-weight: 600 !important;
  font-size: 40px;
}
.finalimg {
  height: 100px;
  transition: transform 0.3s;
}

.finalimg:hover {
  transform: scale(1.1); /* Adjust the scale factor as desired */
}

ul {
  list-style: none;
}
.finalist {
  padding: 10px;
}
.finalink {
  text-decoration: none;
  color: #402d2d;
  font-size: 18px !important;
  font-family: "Instrument Serif", serif;
}

.content {
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
  /* Add styles for your content here */
}
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video stays behind other elements */
}
